html
    head
        title The File Feeler
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/style.css')
        link(href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Lato", rel="stylesheet", type='text/css')

    div.container
        h1.heading The File Feeler
        
        form(action='feel', enctype='multipart/form-data', method='post')
            div.box-row
                input(type="file" name="file" id="file" class="file-input" multiple="multiple" data-multiple-caption="{count} files selected")
                label(for="file" class="file-label") Choose one or more files
                input(type="submit" value="Feel it!" class="file-submit")
                
        
        div.box-column
            h2.heading Description
            div.text-block
                p.text 
                    | This service analyses (or 'feels') one or more files for metadata.
                    | Metadata can be thought of as information describing information.
                    |
                    | If you were compressed into digital form (It's bio-digital jazz, man), metadata about you might describe the exact moment you were born, how much you weigh, your favourite place to go bowling!
                
            h2.heading Using the service.
            div.text-block
                p.text In the form above, give me one or more files you'd like to be analysed, and then hit submit!
                
            h2.heading Example Response
            div.text-block
                p.code 
                 | [{ file_name: "myPetHermitCrab_HI-RES.png", 
                 | file_size_bytes: 2444779, 
                 | file_extension: "png"}]

            
                
    script(src="https://code.jquery.com/jquery-2.2.1.min.js", integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=", crossorigin="anonymous")
    script(src='/client.js')